@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #24252a;
  font-family: Times New Roman;
}
/* Loading */

.load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff7911;
  z-index: 9999;
  animation: bgload 3s forwards;
}
.load:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #24252a;
  width: 0;
  height: 5px;
  animation: load 3s forwards;
}

/** NAVBAR **/
main {
  padding: 0.1px;
}
.navbar {
  background-color: #24252a;
  animation: nav 1s forwards;
  animation-delay: 2.5s;
}
.navbar .navbar-brand {
  cursor: pointer;
  font-family: "Montserrat", Arial, sans-serif;
  margin-left: 20px;
  border: none;
}
.navbar .navbar-brand:hover {
  color: #f39c12;
}
.navv {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
}
.navv * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navv li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 19px;
  overflow: hidden;
}
.navv a {
  padding: 0 5px 0 2px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.navv a:before,
.navv a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navv a:before {
  right: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #08d9d6;
}
.navv a:after {
  padding: 0 0.5em 0 0.2em;
  position: absolute;
  right: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.navv li:hover a {
  transform: translateX(100%);
}

.kotak {
  top: 150px;
  left: 40%;
  border: 1px solid black;
  border-radius: 25px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a;
  position: absolute;
  animation: kotak 1s ease 1 alternate forwards;
  animation-delay: 5.5s;
}
.kotak2 {
  padding-left: 15px;
  width: 60%;
  background-color: #e0a716;
  position: absolute;
  animation: kotak2 3s ease 1 alternate forwards;
  animation-delay: 3.5s;
  opacity: 0;
}
.k2 {
  padding-top: 330px;
  width: 80%;
  height: 700px;
  font-family: "Outfit", sans-serif;
  /* background-color: #fff; */
}
.name2 {
  opacity: 0;
  font-weight: 600;
  font-size: 70px;
  animation: hello 1s ease alternate forwards;
  animation-delay: 7.5s;
}
.sub {
  opacity: 0;
  margin-top: -15px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 5s steps(70, end);
  animation: animasi-ketik 5s steps(70, end) forwards;
  animation-delay: 8s;
}
.des {
  line-height: 15px;
  font-weight: 500;
  font-size: 15px;
}

img {
  width: 230px;
  height: 230px;
  margin-top: -30px;
  margin-bottom: 5px;
  border-radius: 50%;
  animation: yoga 1s ease 1 alternate forwards;
  animation-delay: 5s;
}
.name {
  position: absolute;
  top: 328px;
  animation: name 2s ease 1 alternate forwards;
  animation-delay: 5.5s;
}
.job {
  position: absolute;
  top: 362px;
  animation: job 3s ease 1 alternate forwards;
  animation-delay: 5.5s;
}

.hello {
  opacity: 0;
  font-weight: bold;
  font-family: "Montserrat";
  margin: 55% auto -50px auto;
  font-size: 45px;
  animation: hello 1.5s ease 1 alternate forwards;
  animation-delay: 5.8s;
  color: black;
}

@media screen and (max-width: 680px) {
  .kotak2 {
    display: none;
  }
  /** NAVBAR **/
  .navv li {
    margin: 0 4px;
    font-size: 11px;
    transition: font-size 0s;
  }
  .kotak {
    position: static;
    margin: 150px auto;
    display: flex;
    border-radius: 25px;
    width: 250px;
    height: 250px;
    animation: kotakm 1.5s ease 1 alternate forwards;
    animation-delay: 3s;
  }

  .segitiga {
    top: 120px;
    right: 0px;
    position: absolute;
    border: 100px solid;
    border-left-color: transparent;
    border-right-color: #ff8100;
    border-bottom-color: #ff8100;
    border-top-color: #ff8100;
    border-right: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0;
    animation: segitiga 1.3s forwards;
    animation-delay: 4s;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: none;
  }
  .name {
    opacity: 0;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 1px;
    animation: namem 1s ease 1 alternate forwards;
    animation-delay: 4.2s;
  }
  .job {
    opacity: 0;
    margin-top: 20px;
    font-size: 12px;
    animation: jobm 1s ease 1 alternate forwards;
    animation-delay: 4.4s;
  }
}
